NODE_ENV=production

# Client Configuration
API_URL=https://backend.example.com
MINI_APP_URL=https://t.me/mybot/myapp

# Web Server Configuration
CORS_ENABLED=false
CORS_ORIGIN=https://ton-community.github.io
NGROK_ENABLED=false
NGROK_AUTHTOKEN=[YOUR_NGROK_AUTH_TOKEN]
NGROK_DOMAIN=[YOUR_NGROK_DOMAIN]

# Network Configuration
NETWORK=testnet

# Your MNEMONIC, 24 words separated by spaces
MNEMONIC=[YOUR_MNEMONIC]

# Pinata API Keys, follow to get your own: https://pinata.cloud/keys
PINATA_API_KEY=[YOUR_PINATA_API_KEY]
PINATA_SECRET=[YOUR_PINATA_SECRET]

# Bot Token
TELEGRAM_BOT_TOKEN=[YOUR_TELEGRAM_BOT_TOKEN]

# Jetton
JETTON_ADDRESS=[YOUR_JETTON_ADDRESS]

# SBT Collection
FIRST_TIME_SBT_COLLECTION_ADDRESS=[YOUR_FIRST_TIME_SBT_COLLECTION_ADDRESS]
FIVE_TIMES_SBT_COLLECTION_ADDRESS=[YOUR_FIVE_TIMES_SBT_COLLECTION_ADDRESS]
